/*----------------------------------------*/
/*  04. Footer CSS
/*----------------------------------------*/
@use "./variable" as *;


footer{
    margin-top: 5rem;
    background-color: $color-bg-900;
    p{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem;
    }
}