/*----------------------------------------*/
/*  02. Header CSS
/*----------------------------------------*/
@use "./variable" as *;
@use "./utilities" as *;

nav {
  margin: 0 auto;
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: $color-bg-700;

  border-bottom: 0.2rem solid $color-bg-800;
  box-shadow: 0 0.2rem 0.7rem rgba(0 0 0 / 0.3);

  .nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    
    .nav-logo h2 {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 500;
        color: $color-primary-light;
      }
    
      .nav_links{
        display: flex;
        gap: 2.8rem;
    }
    .nav_social{
        display: flex;
        gap: 1rem;

        a{
            display: grid;
            place-items: center;
            //display: flex;
            //align-items: center;
            //justify-content: center;
            width: 2rem;
            height: 2rem;
            background-image: linear-gradient($color-primary-light,$color-primary);
            color: $color-bg-900;
            @include border-radius(0.5rem);
            @include transition;

            &:hover{
                box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
            }
        }
        
        
    }     
}
}

