@use "./variable" as *;

// Transition
@mixin transition($property: all 0.3s ease-in-out) {
  transition: $property;
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property;
  -o-transition: $property;
}
// Filter
@mixin filter($property: saturate(0) brightness(0.5)) {
  filter: $property;
  -webkit-filter: $property;
}

// Transform
@mixin transform($property: rotate(0)) {
  transform: $property;
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
}

// Border-radius
@mixin border-radius($value) {
  border-radius: $value;
  -o-border-radius: $value;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
}
// Custom btn
@mixin btn {
  display: inline-block;
  margin-top: 1.5rem;
  background-color: $color-primary-light;
  color: #003f47;
  padding: 0.5rem 2rem;
  font-weight: 500;
  @include border-radius(2rem);
  &:hover {
    background-color: $color-bg-900;
    color: $color-light;
  }
  &:active {
  
    outline: 0.5rem solid $color-primary
  }
}

// Border
@mixin bordered($width, $color) {
  border: $width solid $color;
}


@mixin container($width: 2xl){
  @if $width == sm{
    max-width: 640px;
  }
  @if $width == md{
    max-width: 768px;
  }
  @if $width == lg{
    max-width: 1024px;
  }
  @if $width == xl{
    max-width: 1280px;
  }
  @if $width == 2xl{
    max-width: 1536px;
  }
 
}





// Breakpoint prefix	Minimum width	CSS
// sm	640px	@media (min-width: 640px) { ... }
// md	768px	@media (min-width: 768px) { ... }
// lg	1024px	@media (min-width: 1024px) { ... }
// xl	1280px	@media (min-width: 1280px) { ... }
// 2xl	1536px	@media (min-width: 1536px) { ... }

// $devices(
// mobile:sm;
// tablet:md;
// desktop:lg;
// laptop : xl;
// extraBig: 2xl;
// );

  // Device is the name of your mixin

  @mixin devices ($breakpoint) {
    // $breakpoint is simply a variable that can have several values
    // mobile-device
    @if $breakpoint==sm {
        // here `Mobile` is the value of $breakpoint
        // when call laptop, we mean the following piece of code        
    @media only screen and (max-width: 640px) {
      @content;
    }
  }
    // tablet-device
  @if $breakpoint==md {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  // desktop-device
  @if $breakpoint==lg {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  } 
  // laptop-device
  @if $breakpoint==xl {
    @media only screen and (max-width: 1280px) {
      @content;
    }
  } 
  // extraBig-device
  @if $breakpoint==2xl{
    @media only screen and (max-width: 1536px) {
      @content;
    }
  } 

}

// Build-in function

// $primary : #11141f;

// .box{
//     background:lighten($primary , 25%);
//    color: darken($primary, 30%);
// }
