/*----------------------------------------*/
/*  03.2 About CSS
/*----------------------------------------*/
@use "../variable" as *;
@use "../utilities" as *;
#about {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.about-container {
  display: grid;
  grid-template-columns: 53% 43%;
  gap: 4%;

  .about-left {
    position: relative;
    overflow: hidden;
    .about-img-bg {
      background-color: $color-bg-900;
      width: 16rem;
      height: 22rem;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .about-img-lg {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      width: 29rem;
      @include transition();
      @include filter;
    }
    .about-img-md {
      position: absolute;
      bottom: 10rem;
      left: 10rem;
      width: 24rem;
      height: 24rem;
      overflow: hidden;
      @include transition;
    }
    &:hover .about-img-md {
      opacity: 0;
      visibility: hidden;
    }
    &:hover .about-img-lg {
      @include filter(saturate(1) brightness(1));
      border: 1rem solid $color-bg-900;
      bottom: 0;
      left: 0;
    }
  }

  .about-right {
    margin-top: 5rem;
    .about-title {
      margin-bottom: 3rem;
    }
    p {
        margin-bottom: 1em;
        width: 95%
    }
    a {
      @include btn;
    }
  }
}
