/*----------------------------------------*/
/*  03.1 Hero CSS
/*----------------------------------------*/
@use "../variable" as *;
@use "../utilities" as *;

.hero-area {
  margin-top: 10rem;
  max-width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  background: linear-gradient($color-bg-800, $color-bg-600);
  // overflow: hidden;
  .hero-container {
    // display: flex;
    display: grid;
    grid-template-columns: 50% 46%;
    gap: 4%;
    position: relative;
    // overflow: hidden;

    .hero-left {
      // flex-basis: 53%;
      .hashtag {
        color: $color-primary-light;
        font-size: 1.4rem;
        font-weight: 700;
      }
      p {
        margin-top: 1.5rem;
        width: 85%;
      }
      .hero-btn {
        // display: inline-block;
        // margin-top: 1.5rem;
        // background-color: $color-primary-light;
        // color: $color-bg-900;
        // padding: 0.5rem 2rem;
        @include btn;
       
        // @include border-radius(2rem);
        // &:hover {
        //   background-color: $color-bg-900;
        //   color: $color-light;
        // }
        // &:active {
        
        //   outline: 0.5rem solid $color-primary
        // }
      }
    }
    .hero-right {
      overflow: hidden;
      padding-right: 2rem;
      // margin-bottom: 10rem;
      // flex-basis: 43%;
      .hero-img-bg {
        background-color: $color-bg-900;
        width: 16rem;
        height: 22rem;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
      }
      .hero-img-lg {
        position: absolute;
        top: 1em;
        right: 1rem;
        width: 29rem;
        @include transition;
        @include filter;
      }
      .hero-img-md {
        position: absolute;
        top: 10rem;
        right: 10rem;
        width: 24rem;
        height: 24rem;
        overflow: hidden;
        @include transition;
      }
      &:hover .hero-img-md {
        opacity: 0;
      }
      &:hover .hero-img-lg {
        @include filter(saturate(1) brightness(1));
        border: 1rem solid $color-bg-900;
        top: 0;
        right: 0;
      }
    }
  }
}
