/*----------------------------------------*/
/* 3.2 - Hero-Frames CSS
/*----------------------------------------*/
@use "../variable" as *;
@use "../utilities" as *;

#hero-frames-area{
    width: 20rem;
    height: 20rem;

}
.hero-frames {
  position: absolute;
  top: 75vh;
  left: 20rem;

  .frame {
    width: 20rem;
    border: 0.5rem solid $color-bg-800;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
    position: absolute;
    
   @include transform(rotate(-10deg));
    transform-origin: bottom left;
    @include transition;

    &:nth-child(2) {
      @include transform(rotate(20deg));
      top: -2rem;
      left: -2rem;
    }
  }

  &:hover .frame {
   @include transform;
  }
  &:hover .frame:last-child {
    top: 0;
    left: 21rem;
  }
}
